.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80px;
}

.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation a .icon {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}

/* Specific override for Account icon when inactive */
.wd-kanbas-navigation a .account-icon {
    color: white !important;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a,
.wd-kanbas-navigation li.wd-active a .icon {
    color: red;
}

/* Specific override for Account icon when active */
.wd-kanbas-navigation li.wd-active a .account-icon-active {
    color: black !important;
}